{
    "openapi": "3.0.0",
    "info": {
        "title": "Smaki CRM API Documentation",
        "version": "0.3"
    },
    "servers": [
        {
            "url": "https://api.smaki.com.ua/api"
        }
    ],
    "paths": {
        "/register": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "Системная точка. Создать пользователя извне",
                "operationId": "5d4fa5d5607ed675ba93907e1fc94534",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "first_name",
                                    "last_name",
                                    "email",
                                    "password",
                                    "phone",
                                    "position"
                                ],
                                "properties": {
                                    "first_name": {
                                        "description": "Имя пользователя",
                                        "type": "string"
                                    },
                                    "last_name": {
                                        "description": "Фамилия",
                                        "type": "string"
                                    },
                                    "email": {
                                        "description": "Имейл",
                                        "type": "string"
                                    },
                                    "phone": {
                                        "description": "Телефон",
                                        "type": "string"
                                    },
                                    "position": {
                                        "description": "Должность",
                                        "type": "string"
                                    },
                                    "password": {
                                        "description": "Пароль",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "access_token": {
                                            "description": "Токен",
                                            "type": "string"
                                        },
                                        "token_type": {
                                            "description": "Тип токена",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object",
                                    "example": {
                                        "access_token": "10|ZWYsDHtiSuV7MBADO1FLUe5AX42TYBUuFbRjUqEE",
                                        "token_type": "Bearer"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/login": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "Логин",
                "operationId": "67d6d0fdd54fba132e1b6f55ca254183",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "phone",
                                    "password"
                                ],
                                "properties": {
                                    "phone": {
                                        "description": "Телефон",
                                        "type": "string"
                                    },
                                    "password": {
                                        "description": "Пароль",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "access_token": {
                                            "description": "Токен",
                                            "type": "string"
                                        },
                                        "token_type": {
                                            "description": "Тип токена",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object",
                                    "example": {
                                        "access_token": "10|ZWYsDHtiSuV7MBADO1FLUe5AX42TYBUuFbRjUqEE",
                                        "token_type": "Bearer"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/me": {
            "get": {
                "tags": [
                    "Auth"
                ],
                "summary": "Получить данные для текущего пользователя, сделавшего запрос",
                "operationId": "bc2032a379aa97707ccc61511897c120",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "id": {
                                            "description": "ID",
                                            "type": "integer"
                                        },
                                        "email": {
                                            "description": "Имейл",
                                            "type": "string"
                                        },
                                        "phone": {
                                            "description": "Телефон",
                                            "type": "string"
                                        },
                                        "position": {
                                            "description": "Должность",
                                            "type": "string"
                                        },
                                        "first_name": {
                                            "description": "Имя",
                                            "type": "string"
                                        },
                                        "last_name": {
                                            "description": "Фамилия",
                                            "type": "string"
                                        },
                                        "status": {
                                            "description": "Статус",
                                            "type": "string"
                                        },
                                        "role_name": {
                                            "description": "Идентификатор роли",
                                            "type": "string"
                                        },
                                        "role_title": {
                                            "description": "Развание роли",
                                            "type": "string"
                                        },
                                        "email_verified_at": {
                                            "description": "Дата подтверждения кредов",
                                            "type": "string"
                                        },
                                        "locations": {
                                            "description": "Массив сущностей локаций, к которым привязан пользователь",
                                            "type": "array",
                                            "items": {
                                                "type": "object"
                                            }
                                        },
                                        "iiko": {
                                            "description": "Данные из iiko CRM (для пользователей с ролью Courier)",
                                            "type": "array",
                                            "items": {
                                                "type": "object"
                                            }
                                        },
                                        "kitchen_code": {
                                            "description": "Идентификатор физической кухни",
                                            "type": "string"
                                        },
                                        "kitchen_name": {
                                            "description": "Название физической кухни",
                                            "type": "string"
                                        },
                                        "product_types": {
                                            "description": "Типы товаров для повара",
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            }
                                        },
                                        "created_at": {
                                            "description": "Дата создания",
                                            "type": "string"
                                        },
                                        "updated_at": {
                                            "description": "Дата последнего редактирования",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object",
                                    "example": {
                                        "data": {
                                            "id": 1,
                                            "email": "admin@smaki.com",
                                            "phone": 380973334455,
                                            "position": "Developer",
                                            "first_name": "John",
                                            "last_name": "Doe",
                                            "status": "active",
                                            "role_name": "content_manager",
                                            "role_title": "Контент-менеджер",
                                            "email_verified_at": "2021-07-24T12:47:09.000000Z",
                                            "locations": [
                                                {
                                                    "id": 1,
                                                    "restaurant": "smaki",
                                                    "name": "Кульпарковская Смаки",
                                                    "city_sync_id": "lviv",
                                                    "city": "Львов",
                                                    "street": "ул. Кульпарковская",
                                                    "house_number": "95",
                                                    "latitude": null,
                                                    "longitude": null,
                                                    "created_at": "2021-07-28T11:08:01.000000Z",
                                                    "updated_at": "2021-07-28T11:08:01.000000Z"
                                                }
                                            ],
                                            "iiko": {
                                                "iiko_id": "8f423953-8d9e-47c5-a409-1e7cb33c6f00",
                                                "created_at": "2021-08-25T20:36:13.000000Z",
                                                "updated_at": "2021-08-25T20:36:13.000000Z"
                                            },
                                            "kitchen_code": "sumy",
                                            "kitchen_name": "Суми",
                                            "product_types": [
                                                "pizza"
                                            ],
                                            "created_at": "2021-07-24T12:47:09.000000Z",
                                            "updated_at": "2021-07-24T12:47:09.000000Z"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            }
        },
        "/cities": {
            "get": {
                "tags": [
                    "Cities"
                ],
                "summary": "Получить список городов",
                "operationId": "35f27c56ab81a2cb8480e4c363ddafbd",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "id": {
                                            "description": "ID",
                                            "type": "string"
                                        },
                                        "uuid": {
                                            "description": "Уникальный идентификатор в формате UUID",
                                            "type": "string"
                                        },
                                        "sync_id": {
                                            "description": "Текстовый идентификатор",
                                            "type": "string"
                                        },
                                        "name": {
                                            "description": "Название города",
                                            "type": "string"
                                        },
                                        "name_ua": {
                                            "description": "Название города на украинском",
                                            "type": "string"
                                        },
                                        "created_at": {
                                            "description": "Дата создания",
                                            "type": "string"
                                        },
                                        "updated_at": {
                                            "description": "Дата последнего редактирования",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object",
                                    "example": {
                                        "data": [
                                            {
                                                "id": 1,
                                                "sync_id": "lviv",
                                                "name": "Львов",
                                                "name_ua": "Львів",
                                                "created_at": "2021-07-28T11:08:01.000000Z",
                                                "updated_at": "2021-07-28T11:08:01.000000Z"
                                            }
                                        ]
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            }
        },
        "/clients": {
            "get": {
                "tags": [
                    "Clients"
                ],
                "summary": "Получить список клиентов",
                "operationId": "ac511655a19a0f6951735d8aeb4632db",
                "parameters": [
                    {
                        "name": "phone",
                        "in": "query",
                        "description": "Первые цифры номера телефона",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "id": {
                                            "description": "ID",
                                            "type": "string"
                                        },
                                        "name": {
                                            "description": "Имя клиента",
                                            "type": "string"
                                        },
                                        "phone": {
                                            "description": "Номер телефона клиента",
                                            "type": "integer"
                                        },
                                        "source": {
                                            "description": "Источник",
                                            "type": "string"
                                        },
                                        "is_regular": {
                                            "description": "Постоянный клиент или нет",
                                            "type": "integer"
                                        },
                                        "created_at": {
                                            "description": "Дата создания",
                                            "type": "string"
                                        },
                                        "updated_at": {
                                            "description": "Дата последнего редактирования",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object",
                                    "example": {
                                        "data": [
                                            {
                                                "id": 1,
                                                "name": "Василий Пупкин",
                                                "phone": 380994445566,
                                                "source": "website",
                                                "is_regular": 1,
                                                "created_at": "2021-09-02T13:13:03.000000Z",
                                                "updated_at": "2021-09-02T13:13:03.000000Z"
                                            }
                                        ]
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            }
        },
        "/sources": {
            "get": {
                "tags": [
                    "Clients"
                ],
                "summary": "Получить список источников клиентов",
                "operationId": "40d967df257d21cb395d741abb8e510c",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "name": {
                                            "description": "Тип источника",
                                            "type": "string"
                                        },
                                        "title": {
                                            "description": "Название источника",
                                            "type": "integer"
                                        }
                                    },
                                    "type": "object",
                                    "example": {
                                        "data": [
                                            {
                                                "name": "website",
                                                "title": "Сайт"
                                            }
                                        ]
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            }
        },
        "/kitchens": {
            "get": {
                "tags": [
                    "Kitchens"
                ],
                "summary": "Список физических кухонь",
                "operationId": "590fcd2884cb95c75b349a0d9cb231a7",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "id": {
                                            "description": "ID",
                                            "type": "string"
                                        },
                                        "code": {
                                            "description": "Текстовый идентификатор кухни",
                                            "type": "string"
                                        },
                                        "name": {
                                            "description": "Название кухни",
                                            "type": "string"
                                        },
                                        "created_at": {
                                            "description": "Дата создания",
                                            "type": "string"
                                        },
                                        "updated_at": {
                                            "description": "Дата последнего редактирования",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object",
                                    "example": {
                                        "data": [
                                            {
                                                "id": 1,
                                                "code": "kulparkivska",
                                                "title": "Кульпарківська",
                                                "created_at": "2021-09-02T13:13:03.000000Z",
                                                "updated_at": "2021-09-02T13:13:03.000000Z"
                                            }
                                        ]
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            }
        },
        "/locations": {
            "get": {
                "tags": [
                    "Locations"
                ],
                "summary": "Список доставочных терминалов из iiko для курьеров",
                "operationId": "02645c8bfbf14f52457023b2bf782092",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "id": {
                                            "description": "ID",
                                            "type": "string"
                                        },
                                        "delivery_terminal_id": {
                                            "description": "Уникальный идентификатор доставочного терминала в iiko",
                                            "type": "string"
                                        },
                                        "restaurant": {
                                            "description": "Идентификатор ресторана",
                                            "type": "string"
                                        },
                                        "name": {
                                            "description": "Название точки",
                                            "type": "string"
                                        },
                                        "city_sync_id": {
                                            "description": "Текстовый идентификатор города",
                                            "type": "string"
                                        },
                                        "city": {
                                            "description": "Город",
                                            "type": "string"
                                        },
                                        "street": {
                                            "description": "Улица",
                                            "type": "string"
                                        },
                                        "street_ua": {
                                            "description": "Улица на украинском",
                                            "type": "string"
                                        },
                                        "house_number": {
                                            "description": "Номер дома",
                                            "type": "string"
                                        },
                                        "latitude": {
                                            "description": "Широта",
                                            "type": "string"
                                        },
                                        "longitude": {
                                            "description": "Долгота",
                                            "type": "string"
                                        },
                                        "created_at": {
                                            "description": "Дата создания",
                                            "type": "string"
                                        },
                                        "updated_at": {
                                            "description": "Дата последнего редактирования",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object",
                                    "example": {
                                        "data": [
                                            {
                                                "id": 1,
                                                "delivery_terminal_id": "aa15c7b2-768f-dbf1-016c-8fc96e6aa61b",
                                                "restaurant": "smaki",
                                                "name": "Кульпарковская Смаки",
                                                "city_sync_id": "lviv",
                                                "city": "Львов",
                                                "street": "улица Кульпарковская",
                                                "street_ua": "вулиця Кульпарківська",
                                                "house_number": "95",
                                                "latitude": null,
                                                "longitude": null,
                                                "created_at": "2021-07-28T11:08:01.000000Z",
                                                "updated_at": "2021-07-28T11:08:01.000000Z"
                                            }
                                        ]
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            }
        },
        "/mobile/deliveries": {
            "post": {
                "tags": [
                    "Mobile.Deliveries"
                ],
                "summary": "Курьерское приложение. Создать поездку",
                "description": "Создать доставку (поездку). Доступ для пользователей с ролью: <b>Courier</b>",
                "operationId": "670cebde49f781237f96d6f8e473227c",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "delivery_terminal_id": {
                                        "description": "Уникальный идентификатор доставочного терминала в iiko, полученный по адресу GET /api/mobile/orders",
                                        "type": "string",
                                        "example": "de2d1799-0786-3122-0174-832d7233ac11"
                                    },
                                    "orders": {
                                        "description": "Массив сущностей заказов в доставке",
                                        "type": "array",
                                        "items": {
                                            "required": [
                                                "restaurant",
                                                "delivery_terminal_id",
                                                "order_uuid",
                                                "address"
                                            ],
                                            "properties": {
                                                "restaurant": {
                                                    "description": "Идентификатор ресторана",
                                                    "type": "string",
                                                    "example": "smaki"
                                                },
                                                "order_uuid": {
                                                    "description": "Уникальный идентификатор заказа",
                                                    "type": "string",
                                                    "example": "446cbc3d-325c-8bef-d629-0503ba247f40"
                                                },
                                                "address": {
                                                    "description": "Объект адреса, полученный по адресу GET /api/mobile/orders",
                                                    "required": [
                                                        "city",
                                                        "street",
                                                        "home"
                                                    ],
                                                    "properties": {
                                                        "city": {
                                                            "description": "Наименование города",
                                                            "type": "string",
                                                            "example": "Львів"
                                                        },
                                                        "street": {
                                                            "description": "Наименование улицы",
                                                            "type": "string",
                                                            "example": "Зелена вул."
                                                        },
                                                        "index": {
                                                            "description": "Индекс улицы в адресе, если есть",
                                                            "type": "string",
                                                            "example": ""
                                                        },
                                                        "home": {
                                                            "description": "Дом",
                                                            "type": "string",
                                                            "example": "105"
                                                        },
                                                        "housing": {
                                                            "description": "Корпус",
                                                            "type": "string",
                                                            "example": ""
                                                        },
                                                        "apartment": {
                                                            "description": "Квартира",
                                                            "type": "string",
                                                            "example": ""
                                                        },
                                                        "entrance": {
                                                            "description": "Подъезд",
                                                            "type": "string",
                                                            "example": ""
                                                        },
                                                        "floor": {
                                                            "description": "Этаж",
                                                            "type": "string",
                                                            "example": ""
                                                        },
                                                        "comment": {
                                                            "description": "Дополнительная информация",
                                                            "type": "string",
                                                            "example": ""
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "success": {
                                                    "type": "boolean"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            }
        },
        "/mobile/me/coordinates": {
            "put": {
                "tags": [
                    "Mobile.Me"
                ],
                "summary": "Курьерское приложение. Обновить свои координаты",
                "description": "Обновить свои координаты. Доступ для пользователей с ролью: <b>Courier</b>",
                "operationId": "b74a97f6023eb869d08630e4cd77889b",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "latitude": {
                                        "description": "Широта",
                                        "type": "string"
                                    },
                                    "longitude": {
                                        "description": "Долгота",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "success": {
                                                    "type": "boolean"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            }
        },
        "/mobile/orders": {
            "get": {
                "tags": [
                    "Mobile.Orders"
                ],
                "summary": "Курьерское приложение. Получить список заказов для доставки",
                "description": "Доступ для пользователей с ролью: <b>Courier</b>",
                "operationId": "757135def13829fa121e85a6ec8281e3",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "restaurant": {
                                            "description": "Идентификатор ресторана",
                                            "type": "string"
                                        },
                                        "delivery_terminal_id": {
                                            "description": "Уникальный идентификатор доставочного терминала в iiko",
                                            "type": "string"
                                        },
                                        "status": {
                                            "description": "Статус заказа",
                                            "type": "string"
                                        },
                                        "order_uuid": {
                                            "description": "Уникальный идентификатор заказа",
                                            "type": "string"
                                        },
                                        "order_id": {
                                            "description": "Понятный номер заказа. Может использоваться для передачи клиенту. Уникальность не гарантирована",
                                            "type": "string"
                                        },
                                        "comment": {
                                            "description": "Комментарий к заказу",
                                            "type": "integer"
                                        },
                                        "expected_delivery_at": {
                                            "description": "Время, к которому нужно доставить заказ",
                                            "type": "integer"
                                        },
                                        "payment": {
                                            "properties": {
                                                "code": {
                                                    "description": "Тип оплаты",
                                                    "type": "string"
                                                },
                                                "title": {
                                                    "description": "Название типа оплаты",
                                                    "type": "string"
                                                },
                                                "sum": {
                                                    "description": "Сумма к оплате",
                                                    "type": "integer"
                                                },
                                                "prepareChangeFrom": {
                                                    "description": "Сдача с",
                                                    "type": "integer"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "customer": {
                                            "properties": {
                                                "name": {
                                                    "description": "Имя клиента",
                                                    "type": "string"
                                                },
                                                "phone": {
                                                    "description": "Телефон клиента доставки",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "items": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "name": {
                                                        "description": "Название позиции",
                                                        "type": "string"
                                                    },
                                                    "amount": {
                                                        "description": "Количество",
                                                        "type": "integer"
                                                    },
                                                    "sum": {
                                                        "description": "Сумма",
                                                        "type": "integer"
                                                    },
                                                    "comment": {
                                                        "description": "Комментарий",
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        },
                                        "address": {
                                            "properties": {
                                                "city": {
                                                    "description": "Наименование города",
                                                    "type": "string"
                                                },
                                                "street": {
                                                    "description": "Наименование улицы",
                                                    "type": "string"
                                                },
                                                "index": {
                                                    "description": "Индекс улицы в адресе, если есть",
                                                    "type": "string"
                                                },
                                                "home": {
                                                    "description": "Дом",
                                                    "type": "string"
                                                },
                                                "housing": {
                                                    "description": "Корпус",
                                                    "type": "string"
                                                },
                                                "apartment": {
                                                    "description": "Квартира",
                                                    "type": "string"
                                                },
                                                "entrance": {
                                                    "description": "Подъезд",
                                                    "type": "string"
                                                },
                                                "floor": {
                                                    "description": "Этаж",
                                                    "type": "string"
                                                },
                                                "comment": {
                                                    "description": "Дополнительная информация",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object",
                                    "example": {
                                        "data": [
                                            {
                                                "restaurant": "smaki",
                                                "delivery_terminal_id": "018cf4d4-0e07-b00a-0172-e4f18ac4ce92",
                                                "status": "waiting",
                                                "order_uuid": "257fd1c0-3015-dc6c-f751-d78dd06b4ef5",
                                                "order_id": 83112,
                                                "payment": {
                                                    "code": "CASH",
                                                    "title": "Наличные",
                                                    "sum": 609,
                                                    "prepareChangeFrom": 700
                                                },
                                                "comment": "Доставка за 29хв; | Замовлення онлайн | Підготувати решту з: готівка;",
                                                "expected_delivery_at": "2021-08-27 20:15:18",
                                                "customer": {
                                                    "name": "Юлія Кухар",
                                                    "phone": "+380974747560"
                                                },
                                                "items": [
                                                    {
                                                        "name": "Преміум Кілограм",
                                                        "amount": 1,
                                                        "sum": 609,
                                                        "comment": null
                                                    }
                                                ],
                                                "address": {
                                                    "city": "Львів",
                                                    "street": "Чернівецька вул.",
                                                    "index": "",
                                                    "home": "11",
                                                    "housing": "",
                                                    "apartment": "",
                                                    "entrance": "",
                                                    "floor": "2",
                                                    "comment": "Львів, Чернівецька , дім 11, поверх 2\\nЛьвів Чернівецька 11 2"
                                                }
                                            }
                                        ]
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            }
        },
        "/mobile/orders/{order_uuid}": {
            "patch": {
                "tags": [
                    "Mobile.Orders"
                ],
                "summary": "Курьерское приложение. Изменить статус заказу из поездки",
                "description": "Отметить заказ доставленным или недоставленным. Доступ для пользователей с ролью: <b>Courier</b>",
                "operationId": "15126adb21cb72a1f88d446ba7a8c49e",
                "parameters": [
                    {
                        "name": "order_uuid",
                        "in": "path",
                        "description": "UUID заказа",
                        "required": true
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "restaurant": {
                                        "description": "Идентификатор ресторана",
                                        "type": "string"
                                    },
                                    "latitude": {
                                        "description": "Широта",
                                        "type": "string"
                                    },
                                    "longitude": {
                                        "description": "Долгота",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "success": {
                                                    "type": "boolean"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            }
        },
        "/olap/deliveries": {
            "get": {
                "tags": [
                    "OLAP"
                ],
                "summary": "Отчёт по пройденной дистанции по курьерам",
                "operationId": "b69faf2842e3d2d9567340669ae4ae79",
                "parameters": [
                    {
                        "name": "date_from",
                        "in": "query",
                        "description": "Дата доставок от (включительно)",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "date_to",
                        "in": "query",
                        "description": "Дата доставок до (включительно)",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "kitchen_code",
                        "in": "query",
                        "description": "Код кухни",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "user_id": {
                                            "description": "ID пользователя",
                                            "type": "string"
                                        },
                                        "courier_iiko_id": {
                                            "description": "ID курьера из iiko в формате UUID",
                                            "type": "string"
                                        },
                                        "kitchen_title": {
                                            "description": "Название кухни",
                                            "type": "string"
                                        },
                                        "first_name": {
                                            "description": "Имя пользователя",
                                            "type": "string"
                                        },
                                        "last_name": {
                                            "description": "Фамилия пользователя",
                                            "type": "string"
                                        },
                                        "count_deliveries": {
                                            "description": "Количество поездок",
                                            "type": "string"
                                        },
                                        "sum_delivery_distance": {
                                            "description": "Общая дистанция доставок, в метрах",
                                            "type": "string"
                                        },
                                        "sum_return_distance": {
                                            "description": "Общая дистанция обратно на кухню, в метрах",
                                            "type": "string"
                                        },
                                        "orders_within_city": {
                                            "description": "Количество доставок в пределах города",
                                            "type": "string"
                                        },
                                        "orders_outside_city": {
                                            "description": "Количество доставок за пределы города",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object",
                                    "example": {
                                        "data": [
                                            {
                                                "user_id": 18,
                                                "courier_iiko_id": "b200c40e-8acf-4ba5-b820-58360a855553",
                                                "kitchen_title": "Кульпарковская",
                                                "first_name": "Василий",
                                                "last_name": "Пупкин",
                                                "count_deliveries": 3,
                                                "sum_delivery_distance": 10596,
                                                "sum_return_distance": 10596,
                                                "orders_within_city": 3,
                                                "orders_outside_city": 1
                                            }
                                        ]
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            }
        },
        "/orders": {
            "get": {
                "tags": [
                    "Order"
                ],
                "operationId": "e90a654e8c917c36ded9379e8ec62165",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "id": {
                                            "description": "ID",
                                            "type": "integer"
                                        },
                                        "restaurant": {
                                            "description": "Идентификатор ресторана",
                                            "type": "string"
                                        },
                                        "kitchen_code": {
                                            "description": "Идентификатор кухни",
                                            "type": "string"
                                        },
                                        "change_from": {
                                            "description": "Подготовить сдачу с",
                                            "type": "integer"
                                        },
                                        "type": {
                                            "description": "Тип заказа",
                                            "type": "string",
                                            "enum": [
                                                "soon",
                                                "requested_time"
                                            ]
                                        },
                                        "status": {
                                            "description": "Статус",
                                            "type": "string"
                                        },
                                        "return_call": {
                                            "description": "Перезванивать ли",
                                            "type": "integer",
                                            "enum": [
                                                1,
                                                0
                                            ]
                                        },
                                        "client_id": {
                                            "description": "ID клиента",
                                            "type": "integer"
                                        },
                                        "courier_id": {
                                            "description": "ID пользователя курьера",
                                            "type": "integer"
                                        },
                                        "operator_id": {
                                            "description": "ID оператора",
                                            "type": "integer"
                                        },
                                        "client_comment": {
                                            "description": "Комментарий клиента",
                                            "type": "string"
                                        },
                                        "delivered_till": {
                                            "description": "Доставить до",
                                            "type": "string"
                                        },
                                        "client": {
                                            "description": "Информация о клиенте",
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            }
                                        },
                                        "address": {
                                            "description": "Адрес доставки",
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            }
                                        },
                                        "items": {
                                            "description": "Позиции в заказе",
                                            "type": "array",
                                            "items": {
                                                "type": "object"
                                            }
                                        },
                                        "payments": {
                                            "description": "Оплаты",
                                            "type": "array",
                                            "items": {
                                                "type": "object"
                                            }
                                        },
                                        "history": {
                                            "description": "История изменения статуса",
                                            "type": "array",
                                            "items": {
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object",
                                    "example": {
                                        "data": {
                                            "new": [
                                                {
                                                    "id": 14,
                                                    "restaurant": "smaki",
                                                    "kitchen_code": "kulparkivska",
                                                    "change_from": 1000,
                                                    "type": "soon",
                                                    "status": "new",
                                                    "return_call": 0,
                                                    "client_id": 5,
                                                    "courier_id": 22,
                                                    "operator_id": null,
                                                    "client_comment": "Без перца, постучать в дверь",
                                                    "delivered_till": null,
                                                    "created_at": "2021-10-25T15:10:59.000000Z",
                                                    "updated_at": "2021-10-25T15:10:59.000000Z",
                                                    "items": [
                                                        {
                                                            "id": 13,
                                                            "order_id": 14,
                                                            "product_id": "024c60b3-d89d-443a-b472-711e1a734122",
                                                            "quantity": 2,
                                                            "sum": 220,
                                                            "comment": "без перца",
                                                            "created_at": "2021-10-25T15:10:59.000000Z",
                                                            "updated_at": "2021-10-25T15:10:59.000000Z",
                                                            "cook_id": null
                                                        },
                                                        {
                                                            "id": 14,
                                                            "order_id": 14,
                                                            "product_id": "25f7c5da-37f4-4e53-9b93-4ab42cab0028",
                                                            "quantity": 3,
                                                            "sum": 111,
                                                            "comment": "без перца",
                                                            "created_at": "2021-10-25T15:10:59.000000Z",
                                                            "updated_at": "2021-10-25T15:10:59.000000Z",
                                                            "cook_id": null
                                                        }
                                                    ],
                                                    "history": [
                                                        {
                                                            "id": 1,
                                                            "order_id": 14,
                                                            "user_id": 2,
                                                            "status": "new",
                                                            "set_at": "2021-10-26 14:46:48"
                                                        },
                                                        {
                                                            "id": 2,
                                                            "order_id": 14,
                                                            "user_id": 1,
                                                            "status": "cooking",
                                                            "set_at": "2021-10-26 14:50:48"
                                                        }
                                                    ],
                                                    "payments": [
                                                        {
                                                            "id": 1,
                                                            "order_id": 14,
                                                            "payment_type": "cash",
                                                            "sum": "500",
                                                            "created_at": "2021-10-25T15:10:59.000000Z",
                                                            "updated_at": "2021-10-25T15:10:59.000000Z"
                                                        }
                                                    ],
                                                    "address": {
                                                        "id": 12,
                                                        "order_id": 14,
                                                        "city_sync_id": "lviv",
                                                        "street": "Кульпарківська",
                                                        "house_number": "12",
                                                        "entrance": "3",
                                                        "floor": "2",
                                                        "apartment": "2",
                                                        "comment": null,
                                                        "created_at": "2021-10-25T15:10:59.000000Z",
                                                        "updated_at": "2021-10-25T15:10:59.000000Z",
                                                        "latitude": "",
                                                        "longitude": ""
                                                    },
                                                    "client": {
                                                        "id": 5,
                                                        "name": "Максим",
                                                        "phone": 380997775544,
                                                        "source": "website",
                                                        "is_regular": 1,
                                                        "created_at": "2021-10-23T13:09:16.000000Z",
                                                        "updated_at": "2021-10-23T13:09:16.000000Z"
                                                    }
                                                }
                                            ]
                                        },
                                        "cooking": [],
                                        "preparing": [],
                                        "for_delivery": []
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Order"
                ],
                "description": "Если клиент подобран из предикшена, в объекте client нужно передать id. Если не подобран, передать имя, номер телефона и источник, чтобы создать нового.",
                "operationId": "675fa2d53c5816c05b3acae1be831490",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "restaurant",
                                    "kitchen_code",
                                    "payments",
                                    "type",
                                    "status",
                                    "return_call",
                                    "client",
                                    "address",
                                    "items"
                                ],
                                "properties": {
                                    "restaurant": {
                                        "description": "Идентификатор ресторана",
                                        "type": "string"
                                    },
                                    "kitchen_code": {
                                        "description": "Идентификатор кухни",
                                        "type": "string"
                                    },
                                    "change_from": {
                                        "description": "Подготовить сдачу с",
                                        "type": "integer"
                                    },
                                    "type": {
                                        "description": "Тип заказа",
                                        "type": "string",
                                        "enum": [
                                            "soon",
                                            "requested_time"
                                        ]
                                    },
                                    "return_call": {
                                        "description": "Перезванивать ли",
                                        "type": "integer",
                                        "enum": [
                                            1,
                                            0
                                        ]
                                    },
                                    "courier_id": {
                                        "description": "ID пользователя курьера",
                                        "type": "integer"
                                    },
                                    "client_comment": {
                                        "description": "Комментарий клиента",
                                        "type": "string"
                                    },
                                    "delivered_till": {
                                        "description": "Доставить до (обязательно если type со значением requested_time)",
                                        "type": "string"
                                    },
                                    "client": {
                                        "description": "Информация о клиенте",
                                        "type": "array",
                                        "items": {
                                            "type": "string"
                                        }
                                    },
                                    "address": {
                                        "description": "Адрес доставки",
                                        "type": "array",
                                        "items": {
                                            "type": "string"
                                        }
                                    },
                                    "items": {
                                        "description": "Позиции в заказе",
                                        "type": "array",
                                        "items": {
                                            "type": "object"
                                        }
                                    },
                                    "payments": {
                                        "description": "Оплаты",
                                        "type": "array",
                                        "items": {
                                            "type": "object"
                                        }
                                    }
                                },
                                "type": "object",
                                "example": {
                                    "restaurant": "smaki",
                                    "kitchen_code": "kulparkivska",
                                    "change_from": 1000,
                                    "type": "soon",
                                    "status": "new",
                                    "return_call": 0,
                                    "courier_id": 22,
                                    "client_comment": "Без перца, постучать в дверь",
                                    "client": {
                                        "id": 5,
                                        "name": "Максим",
                                        "phone": 380997775544,
                                        "source": "website"
                                    },
                                    "address": {
                                        "city_sync_id": "lviv",
                                        "street": "Кульпарківська",
                                        "house_number": "12",
                                        "entrance": "3",
                                        "floor": "2",
                                        "apartment": "2",
                                        "comment": "",
                                        "latitude": "",
                                        "longitude": ""
                                    },
                                    "items": [
                                        {
                                            "product_id": "024c60b3-d89d-443a-b472-711e1a734122",
                                            "quantity": 2,
                                            "comment": "без перца"
                                        },
                                        {
                                            "product_id": "25f7c5da-37f4-4e53-9b93-4ab42cab0028",
                                            "quantity": 3,
                                            "comment": "без перца"
                                        }
                                    ],
                                    "payments": [
                                        {
                                            "payment_type": "cash",
                                            "sum": 500
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "id": {
                                            "description": "ID",
                                            "type": "integer"
                                        },
                                        "restaurant": {
                                            "description": "Идентификатор ресторана",
                                            "type": "string"
                                        },
                                        "kitchen_code": {
                                            "description": "Идентификатор кухни",
                                            "type": "string"
                                        },
                                        "change_from": {
                                            "description": "Подготовить сдачу с",
                                            "type": "integer"
                                        },
                                        "type": {
                                            "description": "Тип заказа",
                                            "type": "string",
                                            "enum": [
                                                "soon",
                                                "requested_time"
                                            ]
                                        },
                                        "status": {
                                            "description": "Статус",
                                            "type": "string"
                                        },
                                        "return_call": {
                                            "description": "Перезванивать ли",
                                            "type": "integer",
                                            "enum": [
                                                1,
                                                0
                                            ]
                                        },
                                        "client_id": {
                                            "description": "ID клиента",
                                            "type": "integer"
                                        },
                                        "courier_id": {
                                            "description": "ID пользователя курьера",
                                            "type": "integer"
                                        },
                                        "operator_id": {
                                            "description": "ID оператора",
                                            "type": "integer"
                                        },
                                        "client_comment": {
                                            "description": "Комментарий клиента",
                                            "type": "string"
                                        },
                                        "delivered_till": {
                                            "description": "Доставить до",
                                            "type": "string"
                                        },
                                        "client": {
                                            "description": "Информация о клиенте",
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            }
                                        },
                                        "address": {
                                            "description": "Адрес доставки",
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            }
                                        },
                                        "items": {
                                            "description": "Позиции в заказе",
                                            "type": "array",
                                            "items": {
                                                "type": "object"
                                            }
                                        },
                                        "payments": {
                                            "description": "Оплаты",
                                            "type": "array",
                                            "items": {
                                                "type": "object"
                                            }
                                        },
                                        "history": {
                                            "description": "История изменения статуса",
                                            "type": "array",
                                            "items": {
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object",
                                    "example": {
                                        "data": {
                                            "id": 14,
                                            "restaurant": "smaki",
                                            "kitchen_code": "kulparkivska",
                                            "change_from": 1000,
                                            "type": "soon",
                                            "status": "new",
                                            "return_call": 0,
                                            "client_id": 5,
                                            "courier_id": 22,
                                            "operator_id": null,
                                            "client_comment": "Без перца, постучать в дверь",
                                            "delivered_till": null,
                                            "created_at": "2021-10-25T15:10:59.000000Z",
                                            "updated_at": "2021-10-25T15:10:59.000000Z",
                                            "items": [
                                                {
                                                    "id": 13,
                                                    "order_id": 14,
                                                    "product_id": "024c60b3-d89d-443a-b472-711e1a734122",
                                                    "quantity": 2,
                                                    "sum": 220,
                                                    "comment": "без перца",
                                                    "created_at": "2021-10-25T15:10:59.000000Z",
                                                    "updated_at": "2021-10-25T15:10:59.000000Z",
                                                    "cook_id": null
                                                },
                                                {
                                                    "id": 14,
                                                    "order_id": 14,
                                                    "product_id": "25f7c5da-37f4-4e53-9b93-4ab42cab0028",
                                                    "quantity": 3,
                                                    "sum": 111,
                                                    "comment": "без перца",
                                                    "created_at": "2021-10-25T15:10:59.000000Z",
                                                    "updated_at": "2021-10-25T15:10:59.000000Z",
                                                    "cook_id": null
                                                }
                                            ],
                                            "history": [
                                                {
                                                    "id": 1,
                                                    "order_id": 14,
                                                    "user_id": 2,
                                                    "status": "new",
                                                    "set_at": "2021-10-26 14:46:48"
                                                },
                                                {
                                                    "id": 2,
                                                    "order_id": 14,
                                                    "user_id": 1,
                                                    "status": "cooking",
                                                    "set_at": "2021-10-26 14:50:48"
                                                }
                                            ],
                                            "payments": [
                                                {
                                                    "id": 1,
                                                    "order_id": 14,
                                                    "payment_type": "cash",
                                                    "sum": 500,
                                                    "created_at": "2021-10-25T15:10:59.000000Z",
                                                    "updated_at": "2021-10-25T15:10:59.000000Z"
                                                }
                                            ],
                                            "address": {
                                                "id": 12,
                                                "order_id": 14,
                                                "city_sync_id": "lviv",
                                                "street": "Кульпарківська",
                                                "house_number": "12",
                                                "entrance": "3",
                                                "floor": "2",
                                                "apartment": null,
                                                "comment": null,
                                                "latitude": "",
                                                "longitude": ""
                                            },
                                            "client": {
                                                "id": 5,
                                                "name": "Максим",
                                                "phone": 380997775544,
                                                "source": "website",
                                                "is_regular": 1,
                                                "created_at": "2021-10-23T13:09:16.000000Z",
                                                "updated_at": "2021-10-23T13:09:16.000000Z"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            }
        },
        "/orders/{id}": {
            "put": {
                "tags": [
                    "Order"
                ],
                "description": "Передавать нужно объект заказа целиком",
                "operationId": "7b6b6576132218456929cbb5055124a0",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "restaurant",
                                    "kitchen_code",
                                    "payments",
                                    "type",
                                    "status",
                                    "return_call",
                                    "address",
                                    "items"
                                ],
                                "properties": {
                                    "restaurant": {
                                        "description": "Идентификатор ресторана",
                                        "type": "string"
                                    },
                                    "kitchen_code": {
                                        "description": "Идентификатор кухни",
                                        "type": "string"
                                    },
                                    "change_from": {
                                        "description": "Подготовить сдачу с",
                                        "type": "integer"
                                    },
                                    "type": {
                                        "description": "Тип заказа",
                                        "type": "string",
                                        "enum": [
                                            "soon",
                                            "requested_time"
                                        ]
                                    },
                                    "return_call": {
                                        "description": "Перезванивать ли",
                                        "type": "integer",
                                        "enum": [
                                            1,
                                            0
                                        ]
                                    },
                                    "courier_id": {
                                        "description": "ID пользователя курьера",
                                        "type": "integer"
                                    },
                                    "client_comment": {
                                        "description": "Комментарий клиента",
                                        "type": "string"
                                    },
                                    "delivered_till": {
                                        "description": "Доставить до (обязательно если type со значением requested_time)",
                                        "type": "string"
                                    },
                                    "address": {
                                        "description": "Адрес доставки",
                                        "type": "array",
                                        "items": {
                                            "type": "string"
                                        }
                                    },
                                    "items": {
                                        "description": "Позиции в заказе",
                                        "type": "array",
                                        "items": {
                                            "type": "object"
                                        }
                                    },
                                    "payments": {
                                        "description": "Оплаты",
                                        "type": "array",
                                        "items": {
                                            "type": "object"
                                        }
                                    }
                                },
                                "type": "object",
                                "example": {
                                    "restaurant": "smaki",
                                    "kitchen_code": "kulparkivska",
                                    "payment_type": "cash",
                                    "change_from": 1000,
                                    "type": "soon",
[...]
