{
    "openapi": "3.0.0",
    "info": {
        "title": "Smaki CRM API Documentation",
        "version": "0.3"
    },
    "servers": [
        {
            "url": "https://api.smaki.com.ua/api"
        }
    ],
    "paths": {
        "/register": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "operationId": "5d4fa5d5607ed675ba93907e1fc94534",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "first_name",
                                    "last_name",
                                    "email",
                                    "password",
                                    "phone",
                                    "position"
                                ],
                                "properties": {
                                    "first_name": {
                                        "description": "Имя пользователя",
                                        "type": "string"
                                    },
                                    "last_name": {
                                        "description": "Фамилия",
                                        "type": "string"
                                    },
                                    "email": {
                                        "description": "Имейл",
                                        "type": "string"
                                    },
                                    "phone": {
                                        "description": "Телефон",
                                        "type": "string"
                                    },
                                    "position": {
                                        "description": "Должность",
                                        "type": "string"
                                    },
                                    "password": {
                                        "description": "Пароль",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "access_token": {
                                            "description": "Токен",
                                            "type": "string"
                                        },
                                        "token_type": {
                                            "description": "Тип токена",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object",
                                    "example": {
                                        "access_token": "10|ZWYsDHtiSuV7MBADO1FLUe5AX42TYBUuFbRjUqEE",
                                        "token_type": "Bearer"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/login": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "operationId": "67d6d0fdd54fba132e1b6f55ca254183",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "phone",
                                    "password"
                                ],
                                "properties": {
                                    "phone": {
                                        "description": "Телефон",
                                        "type": "string"
                                    },
                                    "password": {
                                        "description": "Пароль",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "access_token": {
                                            "description": "Токен",
                                            "type": "string"
                                        },
                                        "token_type": {
                                            "description": "Тип токена",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object",
                                    "example": {
                                        "access_token": "10|ZWYsDHtiSuV7MBADO1FLUe5AX42TYBUuFbRjUqEE",
                                        "token_type": "Bearer"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/me": {
            "get": {
                "tags": [
                    "Auth"
                ],
                "operationId": "bc2032a379aa97707ccc61511897c120",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "id": {
                                            "description": "ID",
                                            "type": "integer"
                                        },
                                        "email": {
                                            "description": "Имейл",
                                            "type": "string"
                                        },
                                        "phone": {
                                            "description": "Телефон",
                                            "type": "string"
                                        },
                                        "position": {
                                            "description": "Должность",
                                            "type": "string"
                                        },
                                        "first_name": {
                                            "description": "Имя",
                                            "type": "string"
                                        },
                                        "last_name": {
                                            "description": "Фамилия",
                                            "type": "string"
                                        },
                                        "status": {
                                            "description": "Статус",
                                            "type": "string"
                                        },
                                        "email_verified_at": {
                                            "description": "Дата подтверждения кредов",
                                            "type": "string"
                                        },
                                        "created_at": {
                                            "description": "Дата создания",
                                            "type": "string"
                                        },
                                        "updated_at": {
                                            "description": "Дата последнего редактирования",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object",
                                    "example": {
                                        "id": "10",
                                        "email": "admin@smaki.com",
                                        "phone": "380973334455",
                                        "position": "Developer",
                                        "first_name": "John",
                                        "last_name": "Doe",
                                        "status": "active",
                                        "email_verified_at": "2021-07-24T12:47:09.000000Z",
                                        "created_at": "2021-07-24T12:47:09.000000Z",
                                        "updated_at": "2021-07-24T12:47:09.000000Z"
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            }
        },
        "/cities": {
            "get": {
                "tags": [
                    "Cities"
                ],
                "operationId": "35f27c56ab81a2cb8480e4c363ddafbd",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "id": {
                                            "description": "ID",
                                            "type": "string"
                                        },
                                        "uuid": {
                                            "description": "Уникальный идентификатор в формате UUID",
                                            "type": "string"
                                        },
                                        "sync_id": {
                                            "description": "Текстовый идентификатор",
                                            "type": "string"
                                        },
                                        "name": {
                                            "description": "Название города",
                                            "type": "string"
                                        },
                                        "name_ua": {
                                            "description": "Название города на украинском",
                                            "type": "string"
                                        },
                                        "created_at": {
                                            "description": "Дата создания",
                                            "type": "string"
                                        },
                                        "updated_at": {
                                            "description": "Дата последнего редактирования",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object",
                                    "example": {
                                        "data": [
                                            {
                                                "id": 1,
                                                "sync_id": "lviv",
                                                "name": "Львов",
                                                "name_ua": "Львів",
                                                "created_at": "2021-07-28T11:08:01.000000Z",
                                                "updated_at": "2021-07-28T11:08:01.000000Z"
                                            }
                                        ]
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            }
        },
        "/kitchens": {
            "get": {
                "tags": [
                    "Kitchens"
                ],
                "operationId": "590fcd2884cb95c75b349a0d9cb231a7",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "id": {
                                            "description": "ID",
                                            "type": "string"
                                        },
                                        "code": {
                                            "description": "Текстовый идентификатор кухни",
                                            "type": "string"
                                        },
                                        "name": {
                                            "description": "Название кухни",
                                            "type": "string"
                                        },
                                        "created_at": {
                                            "description": "Дата создания",
                                            "type": "string"
                                        },
                                        "updated_at": {
                                            "description": "Дата последнего редактирования",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object",
                                    "example": {
                                        "data": [
                                            {
                                                "id": 1,
                                                "code": "kulparkivska",
                                                "title": "Кульпарківська",
                                                "created_at": "2021-09-02T13:13:03.000000Z",
                                                "updated_at": "2021-09-02T13:13:03.000000Z"
                                            }
                                        ]
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            }
        },
        "/locations": {
            "get": {
                "tags": [
                    "Locations"
                ],
                "operationId": "02645c8bfbf14f52457023b2bf782092",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "id": {
                                            "description": "ID",
                                            "type": "string"
                                        },
                                        "delivery_terminal_id": {
                                            "description": "Уникальный идентификатор доставочного терминала в iiko",
                                            "type": "string"
                                        },
                                        "restaurant": {
                                            "description": "Идентификатор ресторана",
                                            "type": "string"
                                        },
                                        "name": {
                                            "description": "Название точки",
                                            "type": "string"
                                        },
                                        "city_sync_id": {
                                            "description": "Текстовый идентификатор города",
                                            "type": "string"
                                        },
                                        "city": {
                                            "description": "Город",
                                            "type": "string"
                                        },
                                        "street": {
                                            "description": "Улица",
                                            "type": "string"
                                        },
                                        "street_ua": {
                                            "description": "Улица на украинском",
                                            "type": "string"
                                        },
                                        "house_number": {
                                            "description": "Номер дома",
                                            "type": "string"
                                        },
                                        "latitude": {
                                            "description": "Широта",
                                            "type": "string"
                                        },
                                        "longitude": {
                                            "description": "Долгота",
                                            "type": "string"
                                        },
                                        "created_at": {
                                            "description": "Дата создания",
                                            "type": "string"
                                        },
                                        "updated_at": {
                                            "description": "Дата последнего редактирования",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object",
                                    "example": {
                                        "data": [
                                            {
                                                "id": 1,
                                                "delivery_terminal_id": "aa15c7b2-768f-dbf1-016c-8fc96e6aa61b",
                                                "restaurant": "smaki",
                                                "name": "Кульпарковская Смаки",
                                                "city_sync_id": "lviv",
                                                "city": "Львов",
                                                "street": "улица Кульпарковская",
                                                "street_ua": "вулиця Кульпарківська",
                                                "house_number": "95",
                                                "latitude": null,
                                                "longitude": null,
                                                "created_at": "2021-07-28T11:08:01.000000Z",
                                                "updated_at": "2021-07-28T11:08:01.000000Z"
                                            }
                                        ]
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            }
        },
        "/mobile/deliveries": {
            "post": {
                "tags": [
                    "Mobile.Deliveries"
                ],
                "description": "Создать доставку (поездку). Доступ для пользователей с ролью: <b>Courier</b>",
                "operationId": "670cebde49f781237f96d6f8e473227c",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "delivery_terminal_id": {
                                        "description": "Уникальный идентификатор доставочного терминала в iiko, полученный по адресу GET /api/mobile/orders",
                                        "type": "string",
                                        "example": "de2d1799-0786-3122-0174-832d7233ac11"
                                    },
                                    "orders": {
                                        "description": "Массив сущностей заказов в доставке",
                                        "type": "array",
                                        "items": {
                                            "required": [
                                                "restaurant",
                                                "delivery_terminal_id",
                                                "order_uuid",
                                                "address"
                                            ],
                                            "properties": {
                                                "restaurant": {
                                                    "description": "Идентификатор ресторана",
                                                    "type": "string",
                                                    "example": "smaki"
                                                },
                                                "order_uuid": {
                                                    "description": "Уникальный идентификатор заказа",
                                                    "type": "string",
                                                    "example": "446cbc3d-325c-8bef-d629-0503ba247f40"
                                                },
                                                "address": {
                                                    "description": "Объект адреса, полученный по адресу GET /api/mobile/orders",
                                                    "required": [
                                                        "city",
                                                        "street",
                                                        "home"
                                                    ],
                                                    "properties": {
                                                        "city": {
                                                            "description": "Наименование города",
                                                            "type": "string",
                                                            "example": "Львів"
                                                        },
                                                        "street": {
                                                            "description": "Наименование улицы",
                                                            "type": "string",
                                                            "example": "Зелена вул."
                                                        },
                                                        "index": {
                                                            "description": "Индекс улицы в адресе, если есть",
                                                            "type": "string",
                                                            "example": ""
                                                        },
                                                        "home": {
                                                            "description": "Дом",
                                                            "type": "string",
                                                            "example": "105"
                                                        },
                                                        "housing": {
                                                            "description": "Корпус",
                                                            "type": "string",
                                                            "example": ""
                                                        },
                                                        "apartment": {
                                                            "description": "Квартира",
                                                            "type": "string",
                                                            "example": ""
                                                        },
                                                        "entrance": {
                                                            "description": "Подъезд",
                                                            "type": "string",
                                                            "example": ""
                                                        },
                                                        "floor": {
                                                            "description": "Этаж",
                                                            "type": "string",
                                                            "example": ""
                                                        },
                                                        "comment": {
                                                            "description": "Дополнительная информация",
                                                            "type": "string",
                                                            "example": ""
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "success": {
                                                    "type": "boolean"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            }
        },
        "/mobile/me/coordinates": {
            "put": {
                "tags": [
                    "Mobile.Me"
                ],
                "description": "Обновить свои координаты. Доступ для пользователей с ролью: <b>Courier</b>",
                "operationId": "b74a97f6023eb869d08630e4cd77889b",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "latitude": {
                                        "description": "Широта",
                                        "type": "string"
                                    },
                                    "longitude": {
                                        "description": "Долгота",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "success": {
                                                    "type": "boolean"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            }
        },
        "/mobile/orders": {
            "get": {
                "tags": [
                    "Mobile.Orders"
                ],
                "description": "Доступ для пользователей с ролью: <b>Courier</b>",
                "operationId": "757135def13829fa121e85a6ec8281e3",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "restaurant": {
                                            "description": "Идентификатор ресторана",
                                            "type": "string"
                                        },
                                        "delivery_terminal_id": {
                                            "description": "Уникальный идентификатор доставочного терминала в iiko",
                                            "type": "string"
                                        },
                                        "status": {
                                            "description": "Статус заказа",
                                            "type": "string"
                                        },
                                        "order_uuid": {
                                            "description": "Уникальный идентификатор заказа",
                                            "type": "string"
                                        },
                                        "order_id": {
                                            "description": "Понятный номер заказа. Может использоваться для передачи клиенту. Уникальность не гарантирована",
                                            "type": "string"
                                        },
                                        "comment": {
                                            "description": "Комментарий к заказу",
                                            "type": "integer"
                                        },
                                        "expected_delivery_at": {
                                            "description": "Время, к которому нужно доставить заказ",
                                            "type": "integer"
                                        },
                                        "payment": {
                                            "properties": {
                                                "code": {
                                                    "description": "Тип оплаты",
                                                    "type": "string"
                                                },
                                                "title": {
                                                    "description": "Название типа оплаты",
                                                    "type": "string"
                                                },
                                                "sum": {
                                                    "description": "Сумма к оплате",
                                                    "type": "integer"
                                                },
                                                "prepareChangeFrom": {
                                                    "description": "Сдача с",
                                                    "type": "integer"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "customer": {
                                            "properties": {
                                                "name": {
                                                    "description": "Имя клиента",
                                                    "type": "string"
                                                },
                                                "phone": {
                                                    "description": "Телефон клиента доставки",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "items": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "name": {
                                                        "description": "Название позиции",
                                                        "type": "string"
                                                    },
                                                    "amount": {
                                                        "description": "Количество",
                                                        "type": "integer"
                                                    },
                                                    "sum": {
                                                        "description": "Сумма",
                                                        "type": "integer"
                                                    },
                                                    "comment": {
                                                        "description": "Комментарий",
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        },
                                        "address": {
                                            "properties": {
                                                "city": {
                                                    "description": "Наименование города",
                                                    "type": "string"
                                                },
                                                "street": {
                                                    "description": "Наименование улицы",
                                                    "type": "string"
                                                },
                                                "index": {
                                                    "description": "Индекс улицы в адресе, если есть",
                                                    "type": "string"
                                                },
                                                "home": {
                                                    "description": "Дом",
                                                    "type": "string"
                                                },
                                                "housing": {
                                                    "description": "Корпус",
                                                    "type": "string"
                                                },
                                                "apartment": {
                                                    "description": "Квартира",
                                                    "type": "string"
                                                },
                                                "entrance": {
                                                    "description": "Подъезд",
                                                    "type": "string"
                                                },
                                                "floor": {
                                                    "description": "Этаж",
                                                    "type": "string"
                                                },
                                                "comment": {
                                                    "description": "Дополнительная информация",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object",
                                    "example": {
                                        "data": [
                                            {
                                                "restaurant": "smaki",
                                                "delivery_terminal_id": "018cf4d4-0e07-b00a-0172-e4f18ac4ce92",
                                                "status": "waiting",
                                                "order_uuid": "257fd1c0-3015-dc6c-f751-d78dd06b4ef5",
                                                "order_id": 83112,
                                                "payment": {
                                                    "code": "CASH",
                                                    "title": "Наличные",
                                                    "sum": 609,
                                                    "prepareChangeFrom": 700
                                                },
                                                "comment": "Доставка за 29хв; | Замовлення онлайн | Підготувати решту з: готівка;",
                                                "expected_delivery_at": "2021-08-27 20:15:18",
                                                "customer": {
                                                    "name": "Юлія Кухар",
                                                    "phone": "+380974747560"
                                                },
                                                "items": [
                                                    {
                                                        "name": "Преміум Кілограм",
                                                        "amount": 1,
                                                        "sum": 609,
                                                        "comment": null
                                                    }
                                                ],
                                                "address": {
                                                    "city": "Львів",
                                                    "street": "Чернівецька вул.",
                                                    "index": "",
                                                    "home": "11",
                                                    "housing": "",
                                                    "apartment": "",
                                                    "entrance": "",
                                                    "floor": "2",
                                                    "comment": "Львів, Чернівецька , дім 11, поверх 2\\nЛьвів Чернівецька 11 2"
                                                }
                                            }
                                        ]
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            }
        },
        "/mobile/orders/{order_uuid}": {
            "patch": {
                "tags": [
                    "Mobile.Orders"
                ],
                "description": "Отметить заказ доставленным или недоставленным. Доступ для пользователей с ролью: <b>Courier</b>",
                "operationId": "15126adb21cb72a1f88d446ba7a8c49e",
                "parameters": [
                    {
                        "name": "order_uuid",
                        "in": "path",
                        "description": "UUID заказа",
                        "required": true
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "restaurant": {
                                        "description": "Идентификатор ресторана",
                                        "type": "string"
                                    },
                                    "latitude": {
                                        "description": "Широта",
                                        "type": "string"
                                    },
                                    "longitude": {
                                        "description": "Долгота",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "success": {
                                                    "type": "boolean"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            }
        },
        "/olap/deliveries": {
            "get": {
                "tags": [
                    "OLAP"
                ],
                "operationId": "b69faf2842e3d2d9567340669ae4ae79",
                "parameters": [
                    {
                        "name": "date_from",
                        "in": "query",
                        "description": "Дата доставок от (включительно)",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "date_to",
                        "in": "query",
                        "description": "Дата доставок до (включительно)",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "kitchen_code",
                        "in": "query",
                        "description": "Код кухни",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "user_id": {
                                            "description": "ID пользователя",
                                            "type": "string"
                                        },
                                        "courier_iiko_id": {
                                            "description": "ID курьера из iiko в формате UUID",
                                            "type": "string"
                                        },
                                        "kitchen_title": {
                                            "description": "Название кухни",
                                            "type": "string"
                                        },
                                        "first_name": {
                                            "description": "Имя пользователя",
                                            "type": "string"
                                        },
                                        "last_name": {
                                            "description": "Фамилия пользователя",
                                            "type": "string"
                                        },
                                        "count_deliveries": {
                                            "description": "Количество поездок",
                                            "type": "string"
                                        },
                                        "sum_delivery_distance": {
                                            "description": "Общая дистанция доставок, в метрах",
                                            "type": "string"
                                        },
                                        "sum_return_distance": {
                                            "description": "Общая дистанция обратно на кухню, в метрах",
                                            "type": "string"
                                        },
                                        "orders_within_city": {
                                            "description": "Количество доставок в пределах города",
                                            "type": "string"
                                        },
                                        "orders_outside_city": {
                                            "description": "Количество доставок за пределы города",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object",
                                    "example": {
                                        "data": [
                                            {
                                                "user_id": 18,
                                                "courier_iiko_id": "b200c40e-8acf-4ba5-b820-58360a855553",
                                                "kitchen_title": "Кульпарковская",
                                                "first_name": "Василий",
                                                "last_name": "Пупкин",
                                                "count_deliveries": 3,
                                                "sum_delivery_distance": 10596,
                                                "sum_return_distance": 10596,
                                                "orders_within_city": 3,
                                                "orders_outside_city": 1
                                            }
                                        ]
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            }
        },
        "/orders/{order_uuid}/courier": {
            "get": {
                "tags": [
                    "Orders"
                ],
                "operationId": "59547859bcbf678f3be39f30a2c87da7",
                "parameters": [
                    {
                        "name": "order_uuid",
                        "in": "path",
                        "description": "UUID заказа в iiko",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "latitude": {
                                            "description": "Широта",
                                            "type": "string"
                                        },
                                        "longitude": {
                                            "description": "Долгота",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object",
                                    "example": {
                                        "data": {
                                            "latitude": "50.436518",
                                            "longitude": "30.5502122"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            }
        },
        "/product-categories": {
            "get": {
                "tags": [
                    "Product.Categories"
                ],
                "operationId": "2ec462b188bb644796350369cd45d0b6",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "id": {
                                            "description": "ID",
                                            "type": "string"
                                        },
                                        "sync_id": {
                                            "description": "Текстовый идентификатор",
                                            "type": "string"
                                        },
                                        "name": {
                                            "description": "Название категории",
                                            "type": "string"
                                        },
                                        "created_at": {
                                            "description": "Дата создания",
                                            "type": "string"
                                        },
                                        "updated_at": {
                                            "description": "Дата последнего редактирования",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object",
                                    "example": {
                                        "data": [
                                            {
                                                "id": 1,
                                                "sync_id": "sushi",
                                                "name": "Суши",
                                                "created_at": "2021-07-28T11:08:01.000000Z",
                                                "updated_at": "2021-07-28T11:08:01.000000Z"
                                            }
                                        ]
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            }
        },
        "/products": {
            "get": {
                "tags": [
                    "Products"
                ],
                "operationId": "045a96e0d75c6e549cdad3a427dbbac3",
                "parameters": [
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "Количество результатов на странице",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": "20"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Номер страницы",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": "1"
                        }
                    },
                    {
                        "name": "restaurant",
                        "in": "query",
                        "description": "Идентификатор ресторана",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "type_sync_id",
                        "in": "query",
                        "description": "Тип товара",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "pizza",
                                "sushi",
                                "soup",
                                "other"
                            ]
                        }
                    },
                    {
                        "name": "category_sync_id",
                        "in": "query",
                        "description": "Категория товара",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "sushi",
                                "sets",
                                "pizza",
                                "drinks",
                                "additions",
                                "deserts",
                                "salads",
                                "other"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "id": {
                                            "description": "ID в формате UUID",
                                            "type": "integer"
                                        },
                                        "restaurant": {
                                            "description": "Идентификатор ресторана",
                                            "type": "string"
                                        },
                                        "article": {
                                            "description": "Артикул",
                                            "type": "string"
                                        },
                                        "title_ua": {
                                            "description": "Название на украинском",
                                            "type": "string"
                                        },
                                        "title_ru": {
                                            "description": "Название на русском",
                                            "type": "string"
                                        },
                                        "is_active": {
                                            "description": "Активен ли товар",
                                            "type": "string"
                                        },
                                        "weight": {
                                            "description": "Вес",
                                            "type": "intger"
                                        },
                                        "weight_type": {
                                            "description": "Единица измерения веса",
                                            "type": "string"
                                        },
                                        "category_sync_id": {
                                            "description": "Идентификатор категории товара",
                                            "type": "string"
                                        },
                                        "type_sync_id": {
                                            "description": "Идентификатор типа товара",
                                            "type": "string"
                                        },
                                        "description_ua": {
                                            "description": "Описание на украинском",
                                            "type": "string"
                                        },
                                        "description_ru": {
                                            "description": "Описание на русском",
                                            "type": "string"
                                        },
                                        "updated_at": {
                                            "description": "Дата последнего редактирования",
                                            "type": "string"
                                        },
                                        "prices": {
                                            "description": "Массив сущностей цены товара для каждого города",
                                            "type": "string"
                                        },
                                        "type": {
                                            "description": "Сущность типа товара",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object",
                                    "example": {
                                        "data": [
                                            {
                                                "id": "5524e4ca-8655-41b8-9d79-b9fdbc7d39f4",
                                                "restaurant": "smaki",
                                                "article": "art-93993",
                                                "title_ua": "Пицца 4 Сыра",
                                                "title_ru": "Пицца 4 Сыра",
                                                "is_active": 0,
                                                "weight": 250,
                                                "weight_type": "г",
                                                "category_sync_id": "pizza",
                                                "type_sync_id": "pizza",
                                                "description_ua": "Lorem ipsum dolor sit amet.",
                                                "description_ru": "Lorem ipsum dolor sit amet.",
                                                "created_at": "2021-07-30T15:29:31.000000Z",
                                                "updated_at": "2021-07-30T15:29:31.000000Z",
                                                "prices": [
                                                    {
                                                        "product_id": "5524e4ca-8655-41b8-9d79-b9fdbc7d39f4",
                                                        "city_sync_id": "lviv",
                                                        "price": 120,
                                                        "price_old": 114
                                                    },
                                                    {
                                                        "product_id": "5524e4ca-8655-41b8-9d79-b9fdbc7d39f4",
                                                        "city_sync_id": "mykolaiv",
                                                        "price": 125,
                                                        "price_old": 119
                                                    }
                                                ],
                                                "type": {
                                                    "sync_id": "pizza",
                                                    "name": "Пицца"
                                                },
                                                "category": {
                                                    "sync_id": "pizza",
                                                    "name": "Пицца"
                                                }
                                            }
                                        ],
                                        "links": {
                                            "first": "https://api.smaki.com.ua/api/products?page=1",
                                            "last": "https://api.smaki.com.ua/api/products?page=1",
                                            "prev": null,
                                            "next": null
                                        },
                                        "meta": {
                                            "current_page": 1,
                                            "from": 1,
                                            "last_page": 1,
                                            "links": [],
                                            "path": "https://api.smaki.com.ua/api/products",
                                            "per_page": 20,
                                            "to": 11,
                                            "total": 11
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            }
        },
        "/{restaurant}/products": {
            "post": {
                "tags": [
                    "Products"
                ],
                "description": "Используется исключительно для синхронизации товаров с 1С",
                "operationId": "62a01df2b17775a7c6644528bd322a2e",
                "parameters": [
                    {
                        "name": "restaurant",
                        "in": "path",
                        "description": "Идентификатор ресторана",
                        "required": true,
                        "example": "smaki"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "array",
                                "items": {
                                    "properties": {
                                        "product_uuid": {
                                            "description": "ID в формате UUID",
                                            "type": "integer"
                                        },
                                        "article": {
                                            "description": "Артикул",
                                            "type": "string"
                                        },
                                        "title_ua": {
                                            "description": "Название на украинском",
                                            "type": "string"
                                        },
                                        "weight": {
                                            "description": "Вес",
                                            "type": "integer"
                                        },
                                        "weight_type": {
                                            "description": "Единица измерения веса",
                                            "type": "string"
                                        },
                                        "price": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "city_uuid": {
                                                        "description": "Идентификатор города в формате UUID",
                                                        "type": "string"
                                                    },
                                                    "price": {
                                                        "description": "Актуальная цена",
                                                        "type": "integer"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "example": [
                                {
                                    "product_uuid": "ff7d0b98-e818-4813-ae90-e11791dc35f7",
                                    "article": "art-1",
                                    "title_ua": "Калифорния",
                                    "weight": 250,
                                    "weight_type": "г",
                                    "prices": [
                                        {
                                            "city_uuid": "cbc41f7d-823c-411a-b6d2-9af963c6ed99",
                                            "price": 190
                                        },
                                        {
                                            "city_uuid": "914e5cea-d605-4bc3-ab82-3bccb83329c5",
                                            "price": 180
                                        }
                                    ]
                                },
                                {
                                    "product_uuid": "ff7d0b98-e818-4813-ae90-e11791dc35f7",
                                    "article": "art-2",
                                    "title_ua": "Филадельфия",
                                    "weight": 260,
                                    "weight_type": "г",
                                    "prices": [
                                        {
                                            "city_uuid": "cbc41f7d-823c-411a-b6d2-9af963c6ed99",
                                            "price": 210
                                        },
                                        {
                                            "city_uuid": "914e5cea-d605-4bc3-ab82-3bccb83329c5",
                                            "price": 200
                                        },
                                        {
                                            "city_uuid": "b8b978d8-f6f2-47b8-b67f-f77b5c2cf92b",
                                            "price": 200
                                        }
                                    ]
                                }
                            ]
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "description": "Результат синхронизации товаров",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object",
                                    "example": {
                                        "message": "OK"
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            }
        },
        "/products/{id}": {
            "get": {
                "tags": [
                    "Products"
                ],
                "operationId": "48dbfffab0ca4db3095df1de8da32756",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID товара",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "id": {
                                            "description": "ID",
                                            "type": "integer"
                                        },
                                        "restaurant": {
                                            "description": "Идентификатор ресторана",
                                            "type": "string"
                                        },
                                        "article": {
                                            "description": "Артикул",
                                            "type": "string"
                                        },
                                        "title_ua": {
                                            "description": "Название на украинском",
                                            "type": "string"
                                        },
                                        "title_ru": {
                                            "description": "Название на русском",
                                            "type": "string"
                                        },
                                        "is_active": {
                                            "description": "Активен ли товар",
                                            "type": "string"
                                        },
                                        "weight": {
                                            "description": "Вес",
                                            "type": "integer"
                                        },
                                        "weight_type": {
                                            "description": "Единица измерения веса",
                                            "type": "string"
                                        },
                                        "type_sync_id": {
                                            "description": "Идентификатор типа товара",
                                            "type": "string"
                                        },
                                        "category_sync_id": {
                                            "description": "Категория товара",
                                            "type": "string"
                                        },
                                        "description_ua": {
                                            "description": "Описание на украинском",
                                            "type": "string"
                                        },
                                        "description_ru": {
                                            "description": "Описание на русском",
                                            "type": "string"
                                        },
                                        "updated_at": {
                                            "description": "Дата последнего редактирования",
                                            "type": "string"
                                        },
                                        "prices": {
                                            "description": "Массив сущностей цены товара для каждого города",
                                            "type": "string"
                                        },
                                        "type": {
                                            "description": "Сущность типа товара",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object",
                                    "example": {
                                        "data": {
                                            "id": "c00efd9f-cd30-4452-82d3-52ac9c0af9b6",
                                            "restaurant": "smaki",
                                            "city_sync_id": "lviv",
                                            "article": "art-93993",
                                            "title_ua": "Пицца 4 Сыра",
                                            "title_ru": "Пицца 4 Сыра",
                                            "is_active": 0,
                                            "price": 120,
                                            "price_old": 114,
                                            "weight": 250,
                                            "weight_type": "г",
                                            "type_sync_id": "pizza",
                                            "category_sync_id": "pizza",
                                            "description_ua": "Lorem ipsum dolor sit amet.",
                                            "description_ru": "Lorem ipsum dolor sit amet.",
                                            "created_at": "2021-07-30T15:29:31.000000Z",
                                            "updated_at": "2021-07-30T15:29:31.000000Z",
                                            "prices": [
                                                {
                                                    "product_id": "c00efd9f-cd30-4452-82d3-52ac9c0af9b6",
                                                    "city_sync_id": "lviv",
                                                    "price": 120,
                                                    "price_old": 114
                                                },
                                                {
                                                    "product_id": "c00efd9f-cd30-4452-82d3-52ac9c0af9b6",
                                                    "city_sync_id": "mykolaiv",
                                                    "price": 125,
                                                    "price_old": 119
                                                }
                                            ],
                                            "type": {
                                                "sync_id": "pizza",
                                                "name": "Пицца"
                                            },
                                            "category": {
                                                "sync_id": "pizza",
                                                "name": "Пицца"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Products"
                ],
                "operationId": "9fd6382640965f376ad538066ae15fb4",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID товара",
                        "required": true
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "title_ua": {
                                        "description": "Название на украинском",
                                        "type": "string"
                                    },
                                    "title_ru": {
                                        "description": "Название на русском",
                                        "type": "string",
                                        "enum": [
                                            "1",
                                            "0"
                                        ]
                                    },
                                    "prices": {
                                        "description": "Массив цен товара для редактирования",
                                        "type": "array",
                                        "items": {
                                            "properties": {
                                                "city_sync_id": {
                                                    "description": "Идентификатор города для которого редактируется цена",
                                                    "type": "string"
                                                },
                                                "price_old": {
                                                    "description": "Новое значения предыдщуей цены",
                                                    "type": "integer"
                                                },
                                                "is_active": {
                                                    "description": "Активен ли товар",
                                                    "type": "integer"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "description_ua": {
                                        "description": "Описание на украинском",
                                        "type": "string"
                                    },
                                    "description_ru": {
                                        "description": "Описание на русском",
                                        "type": "string"
                                    },
                                    "type_sync_id": {
                                        "description": "Идентификатор типа товара",
                                        "type": "string"
                                    },
                                    "category_sync_id": {
                                        "description": "Идентификатор категории товара",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            },
                            "example": {
                                "data": {
                                    "title_ua": "Філадельфія",
                                    "title_ru": "Филадельфия",
                                    "description_ua": "Филадельфия DESC UA",
                                    "description_ru": "Филадельфия DESC RU",
                                    "category_sync_id": "pizza",
                                    "type_sync_id": "pizza",
                                    "prices": [
                                        {
                                            "city_sync_id": "lviv",
                                            "is_active": 0,
                                            "price_old": 123
                                        },
                                        {
                                            "city_sync_id": "mykolaiv",
                                            "is_active": 0,
                                            "price_old": 124
                                        },
                                        {
                                            "city_sync_id": "sumy",
                                            "is_active": 0,
                                            "price_old": 125
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "id": {
                                            "description": "ID",
                                            "type": "integer"
                                        },
                                        "restaurant": {
                                            "description": "Идентификатор ресторана",
                                            "type": "string"
                                        },
                                        "article": {
                                            "description": "Артикул",
                                            "type": "string"
                                        },
                                        "title_ua": {
                                            "description": "Название на украинском",
                                            "type": "string"
                                        },
                                        "title_ru": {
                                            "description": "Название на русском",
                                            "type": "string"
                                        },
                                        "weight": {
                                            "description": "Вес",
                                            "type": "integer"
                                        },
                                        "weight_type": {
                                            "description": "Единица измерения веса",
                                            "type": "string"
                                        },
                                        "type_sync_id": {
                                            "description": "Идентификатор типа товара",
                                            "type": "string"
                                        },
                                        "category_sync_id": {
                                            "description": "Идентификатор категории товара",
                                            "type": "string"
                                        },
                                        "description_ua": {
                                            "description": "Описание на украинском",
                                            "type": "string"
                                        },
                                        "description_ru": {
                                            "description": "Описание на русском",
                                            "type": "string"
                                        },
                                        "updated_at": {
                                            "description": "Дата последнего редактирования",
                                            "type": "string"
                                        },
                                        "created_at": {
                                            "description": "Дата создания товара",
                                            "type": "string"
                                        },
                                        "prices": {
                                            "description": "Массив сущностей цены товара для каждого города",
                                            "type": "string"
                                        },
                                        "type": {
                                            "description": "Сущность типа товара",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object",
                                    "example": {
                                        "data": {
                                            "id": "4d619e0a-b3cd-4cc7-aa05-3e0a70fa0c52",
                                            "restaurant": "smaki",
                                            "article": "art-93993",
                                            "title_ua": "Пицца 4 Сыра",
                                            "title_ru": "Пицца 4 Сыра",
                                            "price": 120,
                                            "price_old": 114,
                                            "weight": 250,
                                            "weight_type": "г",
                                            "category_sync_id": "pizza",
                                            "type_sync_id": "pizza",
                                            "description_ua": "Lorem ipsum dolor sit amet.",
                                            "description_ru": "Lorem ipsum dolor sit amet.",
                                            "created_at": "2021-07-30T15:29:31.000000Z",
                                            "updated_at": "2021-07-30T15:29:31.000000Z",
                                            "prices": [
                                                {
                                                    "product_id": "4d619e0a-b3cd-4cc7-aa05-3e0a70fa0c52",
                                                    "city_sync_id": "lviv",
                                                    "price": 120,
                                                    "price_old": 114,
                                                    "is_active": 1
                                                },
                                                {
                                                    "product_id": "4d619e0a-b3cd-4cc7-aa05-3e0a70fa0c52",
                                                    "city_sync_id": "mykolaiv",
                                                    "price": 125,
                                                    "price_old": 119,
                                                    "is_active": 0
                                                }
                                            ],
                                            "type": {
                                                "sync_id": "pizza",
                                                "name": "Пицца"
                                            },
                                            "category": {
                                                "sync_id": "pizza",
                                                "name": "Пицца"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            }
        },
        "/product-types": {
            "get": {
                "tags": [
                    "Product.Types"
                ],
                "operationId": "911e5b6b384ba8640233bebf62a13994",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "id": {
                                            "description": "ID",
                                            "type": "string"
                                        },
                                        "sync_id": {
                                            "description": "Текстовый идентификатор",
                                            "type": "string"
                                        },
                                        "name": {
                                            "description": "Название типа товара",
                                            "type": "string"
                                        },
                                        "created_at": {
                                            "description": "Дата создания",
                                            "type": "string"
                                        },
                                        "updated_at": {
                                            "description": "Дата последнего редактирования",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object",
                                    "example": {
                                        "data": [
                                            {
                                                "id": 1,
                                                "sync_id": "sushi",
                                                "name": "Суши",
                                                "created_at": "2021-07-28T11:08:01.000000Z",
                                                "updated_at": "2021-07-28T11:08:01.000000Z"
                                            }
                                        ]
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            }
        },
        "/rbac/roles": {
            "get": {
                "tags": [
                    "RBAC"
                ],
                "operationId": "155e40d142471fe5295b4bafd0fb687a",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "id": {
                                            "description": "ID",
                                            "type": "string"
                                        },
                                        "title": {
                                            "description": "Название",
                                            "type": "string"
                                        },
                                        "name": {
                                            "description": "Идентификатор",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object",
                                    "example": {
                                        "data": [
                                            {
                                                "id": 2,
                                                "title": "Контент-менеджер",
                                                "name": "content_manager"
                                            }
                                        ]
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            }
        },
        "/users": {
            "get": {
                "tags": [
                    "Users"
                ],
                "operationId": "7208c29037df2b8bb02499ba39ed8a78",
                "parameters": [
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "Количество результатов на странице",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": "20"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Номер страницы",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": "1"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "id": {
[...]
